<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meal Planner</title>


    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    
    <link rel="stylesheet" href="/assets/styles.css">
    
</head>

<body>
    <div id="app">
        <nav class="navbar has-shadow">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                        <img src="assets/Untitled.png" alt="fork" />Meal Planner</a>
                    <div class="navbar-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

        </nav>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <div class="control has-icons-left has-icons-right search-field">
                                    <input class="input is-large" type="text" id="inputSearch" placeholder="Fish Sticks" v-model="search" />
                                    <span class="icon is-medium is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span class="icon is-medium is-right">
                                        <i class="delete is-medium clear-search" @click="clearSearchField()" v-if="search.length"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Add button to list recipes -->

        <section class="hero">
            <div class="container">
                    <div class="control">
                            <a href="/recipes"<button class="button is-primary" id="listRecipes">List All Recipes</button></a>
                          </div>
            </div>

        </section>
        <!-- Add button to list searched recipes -->

        <section class="hero">
            <div class="container">
                    <div class="control">
                            <!-- <a href="/recipes/: + inputSearch.val" <button class="button is-primary" id=searchRecipes>Search Recipes</button></a> -->
                            <button class="button is-primary" id="searchRecipes">Search Recipes</button>
                          </div>
            </div>

        </section>

    </div>
    <footer>

    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/main.js"></script>
</body>

</html>