<<<<<<< HEAD
<!DOCTYPE html>
=======


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meal Planner with Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
	  	{{{ body }}}

  </body>
</html>


{{!-- <!DOCTYPE html>
>>>>>>> b9c3396b824bf5530ec2f33f92b996121bebb75f
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<<<<<<< HEAD
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
=======
		<title>Meal Planner</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/public/assets/js/burgers.js"></script> --}}
>>>>>>> b9c3396b824bf5530ec2f33f92b996121bebb75f
	</head>
	<body>
		{{{ body }}}
	</body>
<<<<<<< HEAD
</html>
=======
</html> --}}
>>>>>>> b9c3396b824bf5530ec2f33f92b996121bebb75f
